* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INIZIO Navbar - Header */

nav .row {
  height: 90px;
  background-color: #C3C3C3;
}

nav .row::after {
  content: "";
  display: table;
  clear: both;
}

/* ul sinistra */

.ul-sx {
  height: 100%;
  width: 30%;
  background-color: #F2E0CB;
}

/* ul destra */

.ul-dx {
  height: 100%;
  width: 30%;
  background-color: #F2E0CB;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* FINE Navbar - Header */



/* Jumbotron Header */

.jumbotron {
  background-color: #AED6F1;
  height: 70vh;
}

.jumbotron::after {
  content: "";
  display: table;
  clear: both;
}

.jumbo-full-w {
  background-color: #48C9B0;
}

.jumbotron .jumbo-h1 {
  background-color: #F5B7B1;
}

.jumbotron .txt-img-container {
  background-color: #F1C40F;
}

.jumbotron .left-text {
  background-color: #CD6155;
}

.jumbotron .right-img {
  background-color: #A569BD;
}

/* MARGIN */

.m-auto {
  margin: 0 auto;
}

.m-top-30 {
  margin-top: 30px;
}

.m-top-80 {
  margin-top: 80px;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

/* larghezze */


.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.w-85 {
  width: 85%;
}

.w-100 {
  width: 100%;
}


/* altezze */


.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.h-100 {
  height: 100%;
}

/* MAIN */

.container-w {
  width: 50%;
  background-color: #C3C3C3;
}

main .h2-row {
  height: 150px;
  background-color: #D4EFDF;
}

/* Colonne main */

.col .piano-col {
  border: 1px solid #000;
  background-color: #3498DB;
}

.col .col-width {
  width: calc(90% / 3);
  height: 700px;
}

.col .col-m {
  margin-right: 5%;
  margin-left: 5%;
}

.col-row-top {
  border-bottom: 1px solid #000;
  text-align: center;
}

.col-row-height {
  height: 8%;
}

/* CLEARFIX tre colonne  */

main .col::after {
  content: "";
  display: table;
  clear: both;
}

/* ROW bottom tre colonne piani */

.col-row-bottom {
  border: 1px solid #000;
  background-color: #F0B27A;
  height: 200px;
}

.col-row-bottom .row-b {
  background-color: #F0B27A;
  border-bottom: 1px solid #000;
  text-align: center;
}

/* Sezione centrale con img float letft
   e text float right */

.find-section {
  height: 300px;
  background-color: cornflowerblue;
}

.find-section .left-img {
  background-color: crimson;
  width: 55%;
  height: 100%;
}

.find-section .right-text {
  background-color:darkgoldenrod;
  width: 45%;
  height: 100%;
}

/* SEZIONE 6 Colonne */

.col-oper {
  background-color: #E74C3C;
  width: calc(96% / 3);
  float: left;
  border: 1px solid #000;
  height: 200px;
}

.p-right {
  margin-right: 2%;
}

.p-left {
  margin-left: 2%;
}

.col-container::after {
  content: "";
  display: table;
  clear: both;
}
